<div class="container mt-5">
  <div class="card text-center">
    <div class="card-title text-danger">
      Prueba técnica
    </div>
    <div class="card-body">
    <h5 class="card-title text-primary">Dadas las siguientes series numéricas:</h5>
    <p class="card-text">
      <a href="https://es.wikipedia.org/wiki/N%C3%BAmero_primo" class="link-success">Primos</a>
      <br>
      <a href="https://es.wikipedia.org/wiki/Sucesi%C3%B3n_de_Fibonacci" class="link-success">Fibonacci</a>
      <br>
      <a href="https://es.wikipedia.org/wiki/N%C3%BAmero_triangular" class="link-success">Triangular</a>
      <p>Desarrollar una clase con un método que entregue el término n de la serie:</p>
      <img src="/assets/series-num.png" class="img-fluid" alt="series-numericas">
    </div>
  </div>
</div>
